body {
	background-color: #002b35;
	font-family: courier, monospace;
	font-size: 16px !important;
	color: #fff;
}

.console {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

.script{
	margin: 0;
}

h4 {
	color: #0bc;
	font-size: 16px;
	font-weight: lighter;
}

h5 {
	font-size: 14px;
	font-weight: lighter;
}

p {
	font-size: 12px;
}

ul {
	font-size: 12px
}

a {
	color: #0bc;
	text-decoration: none;
}

a:hover {
	color: #ff0096;
}

.experiences, .educations, .projects, .whoami {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.experience, .education, .project, .whoami {
	margin-bottom: 15px;
}

.experience *, .education *, .project *, .whoami *{
	margin: 0;
}

.banner {
	margin-bottom: 5px;
	align-self: center;
	font-weight: bold;
	text-shadow: salmon;
	text-shadow: 0 1px 1px salmon;
	color: red;
}

