body {
	background-color: #002b35;
	font-family: courier, monospace;
	font-size: 16px !important;
	color: #fff;
}

.console {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

.script{
	margin: 0;
}

/**
	Experience Children Styles
*/
.experiences {
	margin: 0;
	padding: 0;
}
.experience {
	margin-bottom: 15px;
}
.experience *{
	margin: 0;
}

.experience h4 {
	color: #0bc;
}

.experience h5 {
	color: #9E9E9E;
	font-weight: lighter;
}

.experience p:first-of-type {
	font-size: 10px;
	font-style: italic;
}

.experience p:nth-of-type(2) {
	font-size: 14px;
}

.experience ul {
	font-size: 12px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}


#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
