body {
	background-color: #002b35;
	font-family: courier, monospace;
	font-size: 16px !important;
	color: #fff;
}

.console {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}

.script{
	margin: 0;
}

/**
	Experience Children Styles
*/
.experiences, .educations, .projects, .whoami {
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.experience, .education, .project, .whoami {
	margin-bottom: 15px;
}

.experience *, .education *, .project *, .whoami *{
	margin: 0;
}

.experience h4, .education h4, .project h4{
	color: #0bc;
}

.education h4 {
	font-size: 14px;
}

.experience h5, .education h5, .project h5{
	color: #9E9E9E;
	font-weight: lighter;
}

.experience p:first-of-type,
.education p:first-of-type
{
	font-size: 10px;
	font-style: italic;
}

.experience p:nth-of-type(2), .education p:nth-of-type(2){
	font-size: 14px;
}

.experience ul, .project ul {
	font-size: 12px;
}

.project p {
	font-size: 12px;
}

.education a {
	color: #0f0;
	font-size: 12px;
	text-transform: none;
	font-style: italic;
}

.whoami h4 {
	color: #0bc;
	font-size: 22px;
}
.whoami h5 {
	font-size: 16px
}
.whoami p {
	font-size: 14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

a:hover {
	color: #ff0096;
}
